<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BeanSeans</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-minty.css" rel="stylesheet" />
    <link href="~/css/animations.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <img src="~/logo/beanimage.png" alt="logo" class="navbar-brand m-0 p-0" />
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Bean Scenes</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Member"))@*id the user is Member*@
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Reservation" asp-action="Sittings">Create Reservations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Member" asp-controller="Reservation" asp-action="Index">My Reservations</a>
                            </li>
                        }
                        @if (User.IsInRole("Manager"))@*id the user is Admin,the Admin will have own layout in Admin AREa*@
                        {

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Staff" asp-controller="Employee" asp-action="Index">My Employees</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Staff" asp-controller="Sitting" asp-action="Index">Sittings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Staff" asp-controller="Employee" asp-action="getreport">Report</a>
                            </li>


                        }
                        @if (User.IsInRole("Staff"))@*id the user is Admin,the Admin will have own layout in Admin AREa*@
                        {

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Staff" asp-controller="Reservation" asp-action="index">Reservations</a>
                            </li>

                        }
                        else if (!User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Reservation" asp-action="sittings">Create Reservation</a>
                            </li>
                        }


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/animate.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src='js/css3-animate-it.js'></script>


    @RenderSection("Scripts", required: false)
</body>
</html>